<%- include('../includes/header.ejs') %>
<div>
    <h3><%= pageTitle %></h3>
    <% for(let emp of empData){ %>
        <div class="smallbox">
            <%= emp.name %>, 
            <%= emp.dept_id.title %>, 
            
        </div>
    <%  }   %>
    <br />
    <h3>Department Data</h3>
    <% for(let dept of deptEmpData){ %>
        <div class="smallbox">
            <p><%= dept.title %></p>
            <% for(let deptEmp of dept.empList){ %>
                <%= deptEmp.name %>, 
            <%  }   %>
        </div>
    <%  }   %>
</div>
<%- include('../includes/footer.ejs') %>
